.choice {
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  position: relative;

  animation: background .25s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background: var(--gray);

    .delete-btn {
      display: block;
    }
  }

  .delete-btn {
    color: var(--alert);
    right: 20px;
    position: absolute;
    font-size: 1.25em;
    display: none;

    &:hover {
       transform: scale(1.1);
    }

  }
}

.choices {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  transition: all .5s;
  overflow: hidden;
  max-height: 300px;
  height: 300px;

  &.editing-mode {
    flex-grow: 0.0001;
    height: 100px;
  }
}

.edit-form {
  transition: max-height 1.5s ease-out;
  max-height: 0;
  overflow: hidden;

  &.editing-mode {
    max-height: 20000px;
    transition: max-height 1.5s ease-in;
    display: block !important;
  }
}

@keyframes openF {
  from { height: 0; }
  to { height: 100%; }
}

.title-section {
  color: var(--blue-active);
  font-size: 1.45em !important;

  .underline {
    text-decoration: underline;
    text-decoration-style: dotted;
    font-weight: 700;
  }
}