# env vars
.env

# lock files
*.lock

# vendor directory
vendor/

.todo
.temp.*
.vscode


# css généré à partir du scss
*.css
*.css.map

# data directory 
/data

# timesheet généré
timesheet.html

# photo des signatures
images/