:root {
  --color: #f6f8ff;
  --white-bg: #eaedfabb;
  --background: #1e2235;
  --shadow: #00093d20;
  --progress: #2ba972;
  --outer-border: #aeb7e7;
  --fill: #2b3044;
  --alert: #EF8D9C;
  --warning: #FFC39E;
  --alert-bg: #ffd3e288;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 2em;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: var(--white-bg);
  color: var(--background);
}

body:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    163deg,
    rgba(31, 29, 43, 1) 21%,
    rgba(31, 29, 43, 0.3113620448179272) 64%
  );
  opacity: .4;
}


ul {
  padding: 0;
}

a {
  text-decoration: none;
}

.scroll {
  padding: 20px;
  overflow-y: auto;
  max-height: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  padding-bottom: 0;
  padding-top: 0;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.wrapper {
  max-width: 1560px;
  max-height: 1000px;
  height: 95vh;
  width: 100%;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: var(--white-bg);
  padding: 34px;
  z-index: 1;
}

.wrapper-hidden {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.wrapper-title {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
}


.banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner__actions {
  z-index: 1;
  display: flex;
}

.banner__inf {
  color: var(--background);
  padding: 12px 0;
}

.fat-btn {
  font-size: 16px;
  background: var(--background);
  color: var(--color);
  padding: 12px 14px;
  border-radius: 16px;
  font-weight: 500;
  letter-spacing: .35px;
}

.arrow {
  display: block;
  position: relative;
  width: 44px;
  height: 44px;
  margin-left: 15px;
}

.arrow:before, .arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 50%;
  border: 2px solid #1e223567;
}

.arrow svg {
  width: 44px;
  height: 44px;
  display: block;
  position: relative;
  z-index: 1;
  stroke-width: 2px;
  stroke-dashoffset: 126;
  stroke-dasharray: 126 126 0;
  transform: rotate(0deg);
}

.arrow.left {
  transform: scaleX(-1);
  margin-left: 0;
  margin-right: 15px;
}

.arrow i {
  display: block;
  display: block;
  position: absolute;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
}

.arrow i:before, .arrow i:after {
  content: '';
  width: 10px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: var(--background);
  margin: -1px 0 0 -5px;
  display: block;
  transform-origin: 9px 50%;
}

.arrow i:before {
  transform: rotate(-40deg);
}

.arrow i:after {
  transform: rotate(40deg);
}

.schedule__events {
  width: 100%;
  height: 100%;
  border: 1px solid #E1E6F9;
  overflow: hidden;
  position: relative;
}

.schedule__events::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 20px;
  border-radius: 0 0 15px 15px;
  background: linear-gradient(rgba(white, 0), rgba(white, 1));
}

.schedule__events ul {
  list-style: none;
}

.schedule__row {
  width: 100%;
  padding: 30px 0;
  position: relative;
}

.schedule__row::after {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  height: 2px;
  box-shadow: inset -1px -2px #cdcfd3;;
  left: 60px;
  right: 0;
}

.schedule__row.midi::after {
  box-shadow: inset -1px -1px var(--progress);
}

.ml-60 {
  display: flex;
  position: absolute;
  left: 80px;
  top: 0;
  bottom: 45px;
  right: 0;
}

.z-10 {
  z-index: 10;
}

.schedule__group {
  flex: 1 1 0;
  height: 100%;
}


.py-30 {
  padding-top: 30px;
  padding-bottom: 50px;
}

.schedule__group:not(:first-child) {
  border-left: #cdcfd3 2px solid;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}

.h-100 {
  min-height: 100%;
}

.card {
  border-radius: 4px;
  width: 1028px;
  max-width: calc(100% - 20px);
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  background-color: #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--background);
  padding-bottom: 8px;
  border-bottom: 1px solid #D7DBDF;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(297px, 1fr));
  grid-gap: 24px;
  align-items: stretch;
}

.grid-full {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(152px, 1fr));
  grid-gap: 24px;
  align-items: stretch;
  grid-column: 1 / -1;
}

.grid-full input {
  width: calc(100% - 5px);
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .card {
    padding: 24px;
  }
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  align-content: flex-start;
  grid-template-rows: min-content;
  grid-gap: 8px;
  color: var(--background);
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid #D2D6DB;
  border-radius: 6px;
  font-size: 16px;
  padding: 14px 10px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 0;
  background: rgba(0, 9, 61, .15);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  min-height: 800px;
  position: relative;
  width: 90%;
  max-width: 1028px;
  padding: 24px;
  border-radius: 7px;
  background: #fff;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: rgba(0, 9, 61, .45) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.list-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease;
  width: calc(100% - 50px);
  height: calc(100% - 70px);
}

.form-modal {
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 50px);
  height: calc(100% - 70px);
  transition: all 0.2s ease;
}

.modal-dialog:hover .list-modal {
  top: -50%;
}

.modal-dialog:hover .form-modal {
  top: 50%;
}

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  .btn {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    border-radius: 7px;
  }

  .btn:after {
    content: '';
    display: block;
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
    position: absolute;
    transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
  }

  .btn:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: .9;
  }
  .btn:disabled + label {
    cursor: not-allowed;
  }
  .btn:hover:not(:disabled) {
    --bc: var(--border-hover);
  }
  .btn:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .btn + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }
}

.btn {
  border-radius: 50px !important;
  padding: 6px !important;
  height: 30px;
  width: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e2235;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-weight: 900;
}

.display-none {
  display: none;
}